# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# ChromaDB (base locale — ne pas versionner)
partie2_agentic_rag/chroma_db/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# LangGraph
.langgraph_api/
